Form style .form-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.resgisterSubmit {
  margin-top: 30px;
  background-color: #22568e;
  color: #fff;
  border: none;
}

.resgisterSubmit:hover {
  background-color: #0056b3;
}

.form-label {
  color: #343a40;
}

.text-center.mb-4 {
  color: #007bff;
}
