@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  color: #fffff0cc;
  background-color: #1b1b1d;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
